Web[[:space:]]Scraping[[:space:]]with[[:space:]]Python[[:space:]](Mitchell-2015).pdf filter=lfs diff=lfs merge=lfs -text
编码[[:space:]]隐匿在计算机软硬件背后的语言[[:space:]](Petzold-2012).pdf filter=lfs diff=lfs merge=lfs -text
Compilers[[:space:]]-[[:space:]]Principles,[[:space:]]Techniques[[:space:]]and[[:space:]]Tools[[:space:]]2nd[[:space:]](Aho-2007).pdf filter=lfs diff=lfs merge=lfs -text
Mastering[[:space:]]Regular[[:space:]]Expressions[[:space:]]3rd[[:space:]](Friedl-2006).pdf filter=lfs diff=lfs merge=lfs -text
Speech[[:space:]]and[[:space:]]Language[[:space:]]Processing[[:space:]]3rd[[:space:]](Jurafsky-2019).pdf filter=lfs diff=lfs merge=lfs -text
Types[[:space:]]and[[:space:]]Programming[[:space:]]Languages[[:space:]](Pierce-2002).pdf filter=lfs diff=lfs merge=lfs -text
